.emailList {
  flex: 1;
  overflow: auto;
}
.emailList_settings {
  position: sticky;
  top: 0;
  background-color: white;
  border-radius: 1px solid whitesmoke;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  z-index: 999;
}
.emailList_sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}
